// Define variables for your color scheme

// For example:
$red: #B91C13;
$blue: #A3F1F5;
$lightblue: #D8F4F1;
$darkgray: #8B8B8F;
$gray: #D7D7D7;
$lightgray: #EBEBEB ;
$text: #031A1C;
$black: #4F5F60;
$white: #FFFFFF;
$pink: #F49691;
