.main-cards-home-missing {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: column;
  gap: 10px;
  overflow: scroll;

  -webkit-scrollbar {
    display: none;
}

  .card-container-home {
    display: flex;
    align-items: flex-end;
    height: 160px;
    width: 140px;
    border-radius: 10px;
    color: white;
    isolation: isolate;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(215, 215, 215);
    
  }

  .card-container-home-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 35%;
    padding: 0 0.8em;
  }

  .card-container-home-overlay::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    inset: 0;
    z-index: -1;
    // background: #EF6962;
    background: $black;
    mix-blend-mode: multiply;
  }

  p {
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  small {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }

}

.card-pets-container-past {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 35%;
  padding: 0 0.8em;  
}

.card-pets-container-past::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  inset: 0;
  z-index: -1;
  // background: #EF6962;
  background: $pink;
  mix-blend-mode: multiply; 
}

.main-cards-home-missing::-webkit-scrollbar {
  display: none;
}

.main-cards-home-found {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  overflow: scroll;

  .card-container-home {
    display: flex;
    align-items: flex-end;
    height: 160px;
    width: 140px;
    border-radius: 10px;
    color: white;
    isolation: isolate;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(215, 215, 215);
  }

  .card-container-home-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 35%;
    padding: 0 0.8em;
  }

  .card-container-home-overlay::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    inset: 0;
    z-index: -1;
    background: $pink;
    // background: rgba(3, 26, 28, 0.8);
    mix-blend-mode: multiply;
  }

  p {
    font-weight: bold;
    padding: 0;
    margin: 0;
  }

  small {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    padding: 0;
    margin: 0;
  }

}

.main-cards-home-found::-webkit-scrollbar {
  display: none;
}

.home-title {
  font-size: 22px;
  font-weight: bold;
  color: $text;
  margin-top: 30px;
  padding: 0;
}


.map-home {
width: 100%;
  svg {
    width: 100%;

  }
}

.meaning-map {
  display: flex;
  margin-top: 2px;
  gap: 7px;
}

.meaning-pet {
  display: flex;
  gap: 7px;
}
