<% @pets_lost.each do |pet| %>
  <% if pet.missing? === true %>
    <a href="<%= pet_path(pet) %>">
    <div class="card-container-home" style="background-image: url('<%= cl_image_path pet.photo.key, height: 300, crop: :fill %>')">
      <div class="card-container-home-overlay">
        <p><%= pet.name.capitalize %></p>
        <small><span><%= pet.city.capitalize %></span></small>
      </div>
    </div>
    </a>
  <% end %>
<% end %>
