<div class="container-white-background button-toggle-container" data-controller="toggle-index">
  <div>
    <input type="checkbox" name="index-toggle" id="index-toggle" class="input-index" data-toggle-index-target="checkbox" data-action="click->toggle-index#showLost">
    <label for="index-toggle" class="label-index"></label>
  </div>

    <div class="index-title" >
      <h2 class="title-h2" data-toggle-index-target="title"></h2>
    </div>

    <div class="main-cards-index" data-toggle-index-target="indexCard" >
    </div>
</div>
