<div class="container-white-background button-toggle-container">

  <div>
    <input type="checkbox" name="index-toggle" id="index-toggle">
    <label for="index-toggle"></label>
  </div>

    <div class="button-toggle">
      <%= link_to "Missing", pets_path(category: "I lost"), class: "missing-toggle" %>
      <%= link_to "Found", pets_path(category: "I found"), class: "found-toggle" %>
    </div>

    <div class="index-title">
      <h3>All lost pet around you</h3>
      <i class="fa-solid fa-filter"></i>
    </div>

    <div class="main-cards-index">
      <%= render "pets/cards-index" %>
    </div>
</div>


<script src="/javascript/toggle_index.js"></script>
