<div class="header-container">
    <%# The link_to is going to be dinamic? Depending on where the person is? %>
  <%= link_to "Home", root_path %>
  <div class='header'>
    <i class="fa-solid fa-bell"></i>
    <i class="fa-solid fa-message"></i>
  </div>
</div>