<div class="popup-container">
    <div class="popup-header">
        <button type="button" class="btn-close"></button>
    </div>
    <div class="popup-body">
        <div><%= link_to "Report Found", new_pet_path(category: 'I found'), class: "btn btn-primary", style: "color: white;" %></div>
        <div><%= link_to "Report Lost", new_pet_path(category: 'I lost'), class: "btn btn-secondary", style: "color: white;" %></div>
    </div>
</div>