<div class="navbar">
  <%= link_to root_path do %>
    <i class="fa-solid fa-house"></i>
  <% end %>

  <i class="fa-regular fa-map"></i>

  <button class="button-create"><i class="fa-solid fa-plus"></i></button>
</div>
