<div class="container-white-background">
  <div class="home-container">
    <h2 class='home-title'>Missing Pets</h2>
      <div class="main-cards-home-missing">
        <%= render "pets/cards-home-missing" %>
      </div>

    <h2 class='home-title'>Found Pets</h2>
      <div class="main-cards-home-found">
        <%= render "pets/cards-home-found" %>
      </div>
  </div>
</div>