.button-pink {
  background-color: $pink;
  border-radius: 10px;
  margin: 3px 30px 10px 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;

  a {
    color: $white;
    text-decoration: none;
  }
}

.button-black {
  background-color: $black;
  color: $white;
  text-decoration: none;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 3px 30px 10px 30px;
  text-align: center;

  a {
    text-decoration: none;
    color: $white;
  }

  p {
    text-decoration: none;
    color: $white;
  }
}

.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $black;
  font-size: 16px;

}

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $pink;
  font-size: 16px;
}

.button-toggle {
  display: inline-flex;
  padding: 0px 7px;
  margin: 2px 0px;
  border-radius: 40px;
  width: 240px;
  height: 45px;
  align-items: center;
  justify-content: center;
  background: #E5E4E3;

  .missing-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px 35px;
    font-weight:500;
    font-size: 14px;
    background-color: $black;
    border-radius: 40px;
    width: 114px;
    height: 37px;
  }

  .found-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B3B1B0;
    padding: 10px 35px;
    font-weight:500;
    font-size: 14px;
    background-color: $black;
    border-radius: 40px;
    width: 114px;
    height: 37px;
  }

  a {
    text-decoration: none;
  }
}

.button-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.label-index {
  position: relative;
  display: block;
  cursor: pointer;
  // padding: 0px 7px;
  // margin: 2px 0px;
  border-radius: 40px;
  width: 240px;
  height: 45px;
  align-items: center;
  justify-content: center;
  background: #E5E4E3;
  transition: 0.3s;
}

.label-index:after {
  content: "Missing";
  position: absolute;
  top: 4px;
  left: 6px;
  color: white;
  padding: 0.5rem 2.5em;
  font-weight:500;
  font-size: 14px;
  background-color: $black;
  border-radius: 40px;
  width: 114px;
  height: 37px;
  transition: 0.3s;
}

.input-index {
  width: 0;
  height: 0;
  visibility: hidden;
}

.input-index:checked + .label-index:before {
  content: "Missing";
  position: absolute;
  top: 4px;
  left: 6px;
  transition: 0.3s;
}

.label-index:before{
  content: 'Found';
  position: absolute;
  top: 4px;
  left: 115px;
  padding: 0.5rem 2.5em;
  font-weight:500;
  font-size: 14px;
  transition: 0.3s;
}

.input-index:checked + .label-index::after {
  content: "Found";
  left: 234px;
  transform: translateX(-100%);
  background: $pink;
}

.ms-icon{
  width: 37px !important;
  height: 37px !important;
}

.button-message {
  color: $white;
  background-color: $pink;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  // margin: 10px;
}


.btn-form-lost {
  width: 291px;
  height: 54px;
  margin-bottom: 13px;
  color:$text;
}


// Btn sign out

.btn-sign-out {
  background-color: $lightgray;
  border-radius: 10px;
  display: flex;
  height: 54px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 !important;
  color: #8B8B8F !important;
  gap: 10px;

  .sign-out-p {
    padding: 0 !important;
    margin: 0!important;
  }
}
