.main-cards-index {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;

  .card-border-bottom {
    border-bottom: solid 1px #EBEBEB;
    margin-bottom: 22px;

    .card-index-details{
      p {
        margin: 0;
        padding: 0;
        color: #8D8D8D;
      }

      span {
        margin: 0;
        padding: 0;
        color:$black;
      }
    }
  }

  .card-container-index {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px;
    height: 270px;
    border-radius: 10px;
    color: white;
    isolation: isolate;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;

    background-color: rgb(215, 215, 215);
  }



  .card-container-index-overlay-missing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 25%;
    padding: 0 0.8em;

    p {
      font-weight: bold;
      padding: 0;
      margin: 0;
    }

    small {
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      padding: 0;
      margin: 0;
    }
  }

  .card-container-index-overlay-missing::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    inset: 0;
    z-index: -1;
    // background: #EF6962;
    background: $black;
    mix-blend-mode: multiply;
  }

  .card-container-index-overlay-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 25%;
    padding: 0 0.8em;

    p {
      font-weight: bold;
      padding: 0;
      margin: 0;
    }

    small {
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      padding: 0;
      margin: 0;
    }
  }

  .card-container-index-overlay-found::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    inset: 0;
    z-index: -1;
    background: $pink;
    // background: rgba(3, 26, 28, 0.8);
    mix-blend-mode: multiply;
  }

}

.card-contact-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  color: $text;
  padding-bottom: 16px;
  padding-top: 10px;
  padding-right: 5px;

  .chatroom_name {
    margin: 0 !important;
  }

  .chatroom_pet_id {
    margin: 0 !important;
  }

  // button for message

  .btn {
    padding: 0px !important;
    margin: 0px;
  }
}


.index-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: .8em;
  padding: 0;

  .title-h2 {
    font-size: 22px;
    font-weight: bold;
    color: $text;
  }
}
