
// General container on application.htlm.erb

.general-container {
  display: flex;
  flex-direction: column; /* For a vertical layout */
  margin: 0px;
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.23), rgba(0, 0, 0, 0.194)), url('background-image.png');
  background-size: cover;
  /* Additional styles */
}

.container-white-background {
  background-color: $white;
  border-radius: 50px 50px 0px 0px;
  margin: 0px;
  padding: 0px 15px;
  position: relative;
  top: 80px;
}

.show-container {
  display: flex;
}
// Container for home page

.home-container {
  color: $white;
  margin: 0px;
  padding: 0px;
}

// Container for header partial

.header-container {
  margin: 10px;
  display: flex;
  position: absolute;
  justify-content: space-between;
  z-index: 1;
  .item1 {
    order: 1; /* Place the first item on the right by changing its order */
}
  text-decoration: none;

  a {
    text-decoration: none;
    color: white;
    position: relative;
    top: 37px;
    left: 3px;
  }

  .header {
    position: relative;
    left: 300px;
    top: 37px;
  }
}

.form-container {
  margin: 10% 10%;
}

* {
  a {
    text-decoration: none;
  }
}
