
// General container on application.htlm.erb

.general-container {
  display: flex;
  flex-direction: column; /* For a vertical layout */
  margin: 0px;
  background:linear-gradient(0deg, rgba(255, 255, 255, 0.23), rgba(0, 0, 0, 0.194)), url('background-image.png');
  background-size: cover;
  /* Additional styles */
}

.container-white-background {
  background-color: $white;
  border-radius: 50px 50px 0px 0px;
  margin: 0px;
  padding: 0px 15px 100px 15px;
  position: relative;
  top: 80px;
}

.mappage-background {
  background-color: $white;
  border-radius: 50px 50px 0px 0px;
  margin: 0px;
  padding: 0px 15px 100px 15px;
  position: relative;
  top: 80px;
}

.show-container {
  display: flex;
}
// Container for home page

.home-container {
  color: $white;
  margin: 0px;
  padding: 0px;
}

//container for home-map
.home-map-container {
  margin-top: 20px;
}

//container for map
.map-container {
  object-fit: cover;
  height:800px;
}
// Container for header partial

.header-container {
  padding: 40px 33px;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  .navigation-header {
    display: flex;
    gap: 10px;
  }


  .item1 {
    order: 1; /* Place the first item on the right by changing its order */
}
  text-decoration: none;

  a {
    text-decoration: none;
    color: white;

  }

  .header {
  }
}


// Container for Devise
.devise-container{
  margin: 0px;
  padding: 60px 17px;

  h2 {
    margin: 0px 0px 50px 0px;
    padding: 0;
  }
}

.form-container {
  margin: 10% 10%;
}

* {
  a {
    text-decoration: none;
  }
}

.map-home-container {
  width: 100%;
  height: 300px;
}

.map-page {
  border-radius: 50px 50px 0px 0px;
}

.layer-map {
  padding-top: 15px;
}

.profile-container {
  color: $darkgray;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;

  h2 {
    color: $black;
  }
}
