.photo {
    text-align: center;
    margin-bottom: 20px 0px 20px;
}
.form-group {
    display: flex;
    justify-content: space-between;
}
.material-symbols-outlined p {
    height:20px;
}
