//Search-bar Setting
#search-bar-container {
    position: absolute;
    top:120px;
    left:40px;
    z-index:1000;
    border-radius: 20px;
    border: none;
   
}
.mapboxgl-ctrl-geocoder--input {
    border: 0.1rem solid $darkgray;
    border-radius: 10px;
    padding: 5px;  
    font-family: "Cabin" !important;
}

.mapboxgl-ctrl-geocoder--icon {
 width: 25px;
 height: 25px;
}

.suggestions li {
    border-bottom: solid 1px $lightgray;
    list-style: none;
}
//for mapbox function
.mapboxgl-ctrl-geocoder--pin-right {
    display: none;
}

.suggestions-wrapper {
    background-color: white;
}

.suggestions li {
    border-bottom: solid 1px $lightgray;
    list-style: none;
}

// map-popup setting
.details {
    text-align: left;
    color: $text;
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
}
.marker-image img{
    border-radius: 5px;
    padding: 5px;
    border: 0;
    border: none !important;
}

.mapboxgl-popup-content {
    border-radius: 15px;
    padding-top: 2px;
    padding-bottom: 4px;
}

.mapboxgl-popup-close-button {
    visibility: hidden
}