.navbar-pet {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border-style: solid;
  border-width: thin;
  border-top-color: $darkgray;

  .content-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.create {
  background-color: $pink;
  border: none;
  border-radius: 50%;
  height: 65px;
  width: 65px;
}
