.navbar-pet {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px;
  border-style: solid;
  border-width: thin;
  border-top-color: $lightgray;
  background-color: #ffffff;

  .content-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  a {
    text-decoration: none;
    color: $darkgray;
    font-size: 15px;
  }

  i {
    color: $darkgray;
  }
}

.create {
  background-color: $pink;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  padding: 8px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.modal-backdrop {
  z-index: 0;
}
.modal-dialog{
  color:#ffffff;
  position: fixed;
  bottom: 0;
  right: 0; /* Optional: Align it to the right if needed */
  left: 0;
  margin: 0;
}

.btn {
  width: 335px;
  height: 54px;
  margin-bottom: 13px;
}
.modal-content {
  border-radius: 0%;
}

.modal-header {
  height: 42px;
}
.modal-body {
  text-align: center;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}
